<form class="form" [formGroup]="registerForm">
    <div class="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Enter your firstname</mat-label>
            <input matInput placeholder="firstname" class="formControl" formControlName="firstname" required>
        </mat-form-field>
    </div>

    <div class="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Enter your name</mat-label>
            <input matInput placeholder="name" class="formControl" formControlName="name" required>
        </mat-form-field>
    </div>

    <div class="formGroup">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" class="formControl" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="formGroup">
        <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" class="formControl" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        </mat-form-field>
    </div>

    <div class="formGroup">  
        <mat-form-field appearance="fill">
            <mat-label>Enter your presentation</mat-label>
            <textarea matInput placeholder="I'm student, I love biology..." class="formControl" formControlName="bio" required></textarea>
        </mat-form-field>
    </div> 

    <button mat-raised-button id='submit' type="submit" (click)="onRegister()">S'inscrire</button>
</form>
