<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Vue d'ensemble"> 
        <div class="large-box mat-elevation-z4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Waterlouse_%28Asellus_aquaticus%29.jpg/220px-Waterlouse_%28Asellus_aquaticus%29.jpg">
            <div class="resume">
                <span>Aselle</span>
                <span>Asellus aquaticus</span>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Phylogénie">
        <div class="large-box mat-elevation-z4">
        --> Soon table data of phylogeny
        </div>
    </mat-tab>
    <mat-tab label="Description">
        <div class="large-box mat-elevation-z4">
            L'Aselle (nom masculin), Asellus aquaticus, est une espèce de crustacés malacostracés isopodes de la famille des Asellidae, qui vit dans les eaux douces et à faible courant, dépourvues de pesticides et légèrement eutrophes à condition qu'elles soient riches en débris de matière organique (feuilles mortes en particulier). En tant que bioindicateur, il n'est pas un indice d'une eau d'aussi bonne qualité que le Gammare1.

Dans des conditions optimales, les aselles peuvent ou pouvaient y atteindre des populations localement très denses. Ils sont – avec les gammares et les daphnies – une source importante de nourriture pour divers organismes aquatiques carnivores.

Les micro-mouvements constants qu'entretiennent ces crustacés parmi les débris, contribuent au mélange des couches d'eau et des nutriments dans les eaux lentiques. Ils jouent un rôle important de fossoyeur et de « nettoyeur » des débris végétaux. Se reproduisant rapidement et abondamment, ils constituent une nourriture appréciable pour de nombreux animaux des zones humides. 
On les différencie facilement des gammares car les aselles sont plus aplatis et marchent sur le fond, plus qu'ils ne nagent, alors que les gammares nagent ou se meuvent souvent « de côté » et le corps recroquevillé en position arrondie (sur le fond ou quand ils fuient). Leur forme évoque celle d'un cloporte. Le thorax se compose de 7 segments portant chacun une paire de pattes ambulatoires (14): cinq paires de pléopodes foliacés portant des branchies et une paire d’uropodes fourchus dépassant largement l’extrémité arrière du corps.

Taille : l'aselle croît toute sa vie, par mues successives et il vit 1 à 2 ans : l'adulte mesure de 8 mm à 15 mm de long (selon les régions, la sous-espèce).

Couleur : grisé, très légèrement translucide. On trouve des aselles décolorés et aveugles dans certaines grottes ainsi qu'à grande profondeur dans certains lacs.

Les yeux sont dans tous les cas primitifs et affleurent sur la carapace chitineuse de la tête (pas de pédoncules, ils ne sont pas orientables).
        </div>
    </mat-tab>
    <mat-tab label="Mode de vie">
        <div class="large-box mat-elevation-z4">
            C'est une espèce qui est ou était très commune dans les zones tempérées de l'Europe, la Russie, et l'Amérique du Nord1. Asellus aquaticus est relativement ubiquiste (torrents, rivières, mares...) mais apprécie particulièrement les fonds caillouteux et riches en matière organique (hors tourbières et milieux très acides)4 C'est une espèce omnivore4.
        </div>
    </mat-tab>
    <mat-tab label="Biotope">
        <div class="large-box mat-elevation-z4">
            Son habitat optimal semble être les cours d'eau à courant plutôt lent, mais ils peuvent être trouvés dans certains fossés, lacs et étangs, habituellement plutôt près des berges ou dans les contre-courants et zones caillouteuses ou riches en grosses pierres, mousses et zones d'accumulation de feuilles mortes et débris végétaux dont ils se nourrissent.

Les aselles tolèrent assez mal les eaux polluées ou à faible taux d'oxygène dissous. 
        </div>
    </mat-tab>
    <mat-tab label="Alimentation">
        <div class="large-box mat-elevation-z4">
            L'aselle se nourrit sur le fond ou sur des substrats de débris végétaux ou animaux et de petits organismes microscopiques fixés à ces débris.
        </div>
    </mat-tab>
    <mat-tab label="Reproduction">
        <div class="large-box mat-elevation-z4">
            Au moins au printemps et en automne, le mâle s'accroche à la femelle durant plusieurs jours en attendant la mue qui précède la fécondation. La femelle pond 100 à 200 œufs qui sont conservés et protégés dans une « poche ventrale »5. Les larves ont une forme qui évoque celle d'un adulte en miniature, avec une paire de pattes en moins, qui apparaitra à la première mue.
        </div>
    </mat-tab>
    <mat-tab label="Autres">
        <div class="large-box mat-elevation-z4">
            Son activité est plutôt nocturne et il fuit la lumière.
        </div>
    </mat-tab>
</mat-tab-group>