        <h2>Bienvenue</h2>
        <p>Ceci est le MVP (Minimum Viable Product) de cette Encyclopédie.</p>
        <p>Le but de ce site est de créer une collaboration entre étudiants, professionnels et passionnés afin de partager des divers savoirs. <br />
        Actuellement, le site n'offre qu'une catégorie biologie/écologie et plus particulièrement sur la taxinomie.</p>
        <p>Afin de pouvoir développer le site, je vous invite à le visiter, le tester, et à remplir un petit questionnaire pour faire part de vos avis et 
            suggestions.
        </p>