header {
    display: flex;
    flex-flow: row nowrap;
    margin: 50px 0px;

        h1 {
            font-family: 'Georgia', 'Lucida Sans', Arial, sans-serif;
            display: block;
            margin: auto;
        }
}

